<div class="row">
  <div class="col-12 marginTop10 col-lg-10 offset-lg-1">
    <app-progression-bar [waarde]=waarde [stap]="4"></app-progression-bar>
  </div>
  <div class="col-12 text-left ">
    <form [formGroup]="stap4Formulier" (ngSubmit)='stap4()'>
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col-12 text-left">
              <h2>Extra informatie</h2>
            </div>
            <div class="col-12">
              <label for="vragenVoorOns" class="marginTop10">Heb je nog verdere vragen voor ons?</label>
              <textarea type="text" class="form-control" id="vragenVoorOns" formControlName="vragenVoorOns"></textarea>
            </div>
            <div class="col-12 col-sm-6">
              <label for="motivatie" class="marginTop10">Waarom heb je Añañau gekozen als organisatie om
                vrijwilligerswerk te gaan doen?</label>
              <textarea type="text" class="form-control" id="motivatie" formControlName="motivatie"></textarea>
            </div>
            <div class="col-12 col-sm-6">
              <label for="motivatie" class="marginTop10">Hoe heb je voor het eerst van Añañau gehoord?</label>
              <select class="form-control" id="selectbox" formControlName="welkeWeg">
                <option *ngFor="let weg of Weg" [ngValue]="weg">{{weg}}
                </option>
              </select>
            </div>
            <div class="col-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4">
              <button type="submit" class="btn btn-primary marginBottom1O marginTop10 width100"
              [disabled]='!stap4Formulier.valid' >Naar
                Stap
                5!</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
