<div class="row">
  <div class="col-12 marginTop10">
    <app-progression-bar [waarde]=waarde [stap]="6"></app-progression-bar>
  </div>
  <div class="col-12 text-center ">
    <h2>Bedankt voor uw applicaite.</h2>
  </div>
  <div class="col-6 offset-3 text-center">
    <p>Wij nemen zo spoedig mogelijk contact met je op. <br>Alvast bedankt, en tot snel!

      <br><br>Het Añañau Team!
      <br><img src="../../assets/images/ananau-logo.png" alt="" />
    </p>
    <a class="btn btn-primary" href="http://ananau.org/">Bezoek onze website!</a>

  </div>
</div>
