<div class="row">
  <div class="col-12 marginTop10">
    <app-progression-bar [waarde]=waarde [stap]="0"></app-progression-bar>
  </div>
  <div class="col-12 text-center ">
    <h2>Vind jouw applicatie</h2>
  </div>
  <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-left">
    <form [formGroup]="vindFormulier" (ngSubmit)='vindApplicatie()'>
      <div class="row">
        <div class="col-12 ">
          <div class="alert alert-success" role="alert" [hidden]="successMessage == null">
            {{successMessage}}
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="errorMessage == null">
            {{errorMessage}}
          </div>
        </div>
        <div class="col-12">
          <label for="achternaam" class="marginTop10">Achternaam:</label>
          <input type="text" class="form-control" id="achternaam" formControlName="achternaam">
        </div>
        <div class="col-12">
          <label for="email" class="marginTop10">Emailadres:</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary marginBottom1O marginTop10 width100"
            [disabled]='!vindFormulier.valid'>Vind applicatie!</button>
        </div>
      </div>
    </form>
  </div>
</div>
