<div class="row">
  <div class="col-12 marginTop10">
    <app-progression-bar [waarde]=waarde [stap]="0"></app-progression-bar>
  </div>
  <div class="col-12 text-center ">
    <h2>Welkom, toekomstige vrijwilliger/stagair van Añañau!</h2>
  </div>
  <div class="col-6 offset-3 text-center">
    <p>Best vrijwilliger, Op deze website kan u onze registratieprocedure vinden. Zorg je ervoor dat je alle gegevens juist
      en correct ingeeft? <br>Alvast bedankt, en tot snel!

      <br><br>Het Añañau Team!
      <br><img src="../../assets/images/ananau-logo.png" alt="" />
    </p>
    <button [routerLink]="['/stap-1']" class="btn btn-primary">Naar stap 1</button><br>
    <button [routerLink]="['/vind-applicatie']" class="btn btn-primary">Begon u al een applicatie?</button><br>

  </div>
</div>
